<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.work.advanced.shardingjdbc.dao.ShopingMapper" >
  <resultMap id="BaseResultMap" type="com.work.advanced.shardingjdbc.po.Shoping" >
    <constructor >
      <idArg column="shoping_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="shoping_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shoping_price" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    shoping_id, shoping_name, shoping_price
  </sql>

</mapper>